{% extends "layouts.app_general" %}
{% set title='Billing Policy' %}
{% block style%}
@import url({{ asset('themes/' ~ current_theme() ~ '/css/terms_of_use_res.css') }});
@import url({{ asset('themes/' ~ current_theme() ~ '/css/privacy-policy_res.css') }});
{% endblock %}
{% block hero %}
<div class="hero">
          <div class="hero__text-box">
              <h2 class="hero__content-title">Billing Policy</h2>
          </div>
      </div>
{% endblock %}
{% block content %}
<section>

      <div class="terms__outer-wrapper">
          <div class="terms__wrapper">

              <p class="terms__content">
              This Billing Policy outlines the billing methods for Afiaanyi. Please read through the entire
              Billing Policy. Please note that your purchase or use of Afiaanyi’s Services and/or Products
              constitutes your acceptance of Afiaanyi’s billing practices (in addition to your acceptance of
              the End User License Agreement). 
              </p>
              <p class="terms__content">
                This Billing Policy is subject to change in Afiaanyi’s discretion, so Afiaanyi encourages you
                 to consult the Billing Policy each time you purchase services or list products. 
              </p>
              <p class="terms__content">
                GENERAL POLICY. <br> You acknowledge and accept that continued use or purchase of Afiaanyi’s products constitutes your acceptance of this Billing Policy, which contains the following: 
                <ol>
                <li>You can sign up for a free 30 day trial on a new account upon providing a credit card for
                future payment after the trial ends. (The trial is not available to previous and existing customers).
                You can cancel any time within the first 30 days (which is generally 720 hours) by following the
                cancellation process described in Section 6 and avoid being charged at all.<br/>
                </li>
                <li>
                 All accounts (except
                for the free trials noted above) are set up on a prepaid basis. Afiaanyi must receive payment before
                any billable product or service is provided and/or activated. You are required to keep a valid credit/debit
                card on file to charge for any recurring monthly subscription fees and one-time or multi-pay consulting fees.<br/>
                </li>
                <li>
                Afiaanyi does not accept any international checks. All international customers must pay by credit/debit
                card. <br/>
                </li>
                <li>
                Your subscription is NOT based on how much you use (or do not use) Afiaanyi, but instead is based
                on availability of products and services.<br/>
                </li>
                <li>
                 You are responsible for keeping all credit/debit card details and
                contact information current with Afiaanyi. You should periodically check your account profile to ensure that information is up to date. <br/>
                </li>
                <li>
                All of your recurring subscriptions are automatically invoiced and charged to the credit/debit card on file.<br/>
                </li>
                <li>
                Any of your invoice and/or payment receipts are available from Afiaanyi upon request.
                You may also access your account billing history for all receipts.  METHODS OF PAYMENT.
                Afiaanyi will accept any payments via all major debit/card cards. Payment by any other means, such as check or wire transfer,
                requires Afiaanyi’s explicit written consent, which shall be given inAfiaanyi’s sole discretion. 
                </li>
                </ol>
              </p>
              <p class="terms__content">
                METHODS OF PAYMENT. <br> Afiaanyi will accept any payments via all major debit/card cards. Payment by any other means, such as check or wire transfer,
                 requires Afiaanyi’s explicit written consent, which shall be given inAfiaanyi’s sole discretion. 
              </p>
              <p class="terms__content">
                BILLING CYCLE.<br/> Recurring Billing Procedure. Afiaanyi will generate an invoice and collect payment on the invoice at the beginning of your respective billing period (the “rebill date”). Your rebill date will be on the same day of the month and same time of day as when you initially purchased your License Grant or any other product from Afiaanyi, unless a particular month doesn’t have that rebill date, in which case your rebill date would be moved to the last day of the respective month. For example, if your rebill date is the 31st, your rebill date would be January 31, February 28, and March 31, April 30, etc. You may cancel your subscription to the License Grant or any other recurring product from Afiaanyi at any time during the billing period by following the cancellation procedures in Section 6. You understand that any and all subscription fees are nonrefundable.
              </p>
              <p class="terms__content">
                For Credit/Debit Card Billings:Afiaanyi will automatically charge your authorized credit or debit card listed on file on your specific billing cycle date. If your card on file is declined for any reason, Afiaanyi will attempt to re-run the charge for the card on file up to four (4) more times within the following nine (9) days. If Afiaanyi has run your card four (4) times with no success, your account will be cancelled. 
              </p>
              <p class="terms__content billing__content">
                Late Fees: <br> You will be charged a late fee for any accounts that are past due for thirty (30) days or more. Afiaanyi will attempt to contact you no fewer than three (3) times before assessing a late fee on your account.
              </p>
              <p class="terms__content">
                Delinquent Accounts: Afiaanyi will submit any account that is sixty (60) days past due to a third-party collection service. 
              </p>
              <p class="terms__content billing__content">
               FEES.<br/> Late Fees: Afiaanyi, in its discretion, may assess a late fee of five percent (5%) for any account that is thirty (30) days past due. 
              </p>
              <p class="terms__content billing__content">
                Chargebacks: If you initiate a chargeback,Afiaanyi may, in its discretion, assess certain amount processing fee for each individual chargeback.
              </p>
              <p class="terms__content billing__content">
                Returned Checks: If your check is returned, Afiaanyi may, in its discretion, assess certain amount processing fee for each returned check. 
              </p>
              <p class="terms__content billing__content">
               Collections Fee: In the event that Afiaanyi shall be required to submit your past due account to a third-party collections service, Afiaanyi will assess certain amount processing fee to your existing account balance. This is an additional fee that is independent of any previously assessed fees made on your account. 
              </p>
              <p class="terms__content billing__content">
               Interest: Any charges to your account that are not paid when due are subject to interest at a rate equal to or lesser of the following: one and one-half percent (1.5%) per month; or the maximum interest rate allowed by applicable law. 
              </p>
              <p class="terms__content billing__content">
                BILLING DISPUTES.<br/> Grace Period: You agree to provide Afiaanyi with a thirty (30) day grace period to attempt settlement of any billing disputes between you andAfiaanyi before disputing the billing with any third-party credit/debit company or bank. In the event that you deviate from the process and proceed with a chargeback, Afiaanyi may collect on the rendered services and any fees associated with the dispute, regardless of the outcome of the chargeback.Afiaanyi will submit any such disputed amounts to a third-party collection service.
              </p>
              <p class="terms__content billing__content">
                Suspension of Account: Afiaanyi may suspend your account upon receipt of any chargebacks until the matter has been resolved to Afiaanyi’s satisfaction. 
              </p>
              <p class="terms__content billing__content">
                Suspension of Account: Afiaanyi may suspend your account upon receipt of any chargebacks until the matter has been resolved to Afiaanyi’s satisfaction. 
              </p>
              <p class="terms__content billing__content">
               CANCELLATIONS.<br/> How To Cancel Your Account: You may cancel your account in the following ways: <br/>
               You may cancel your account by contactingAfiaanyi representative via phone at Any email requests to cancel will not constituteAfiaanyi’s acceptance of cancellation. Once we process your cancellation request, you will be able to access the site for the remainder of your pre-paid billing cycle, and your access to the site will then be terminated on the rebill date. 
              </p>
              <p class="terms__content billing__content">
                How Not to Cancel Your Account: You cannot cancel your account by cancelling your debit/credit card. Afiaanyi will continue to treat the account as open and the billing cycle will continue, which if not paid, will result in a past due account that may be turned over to a third-party collection service, within Afiaanyi’s discretion. 
              </p>
              <p class="terms__content billing__content">
                Cancellation with Outstanding Invoices: Your cancellation of your account does not dismiss any of your outstanding invoices. You have a responsibility to settle any outstanding balance at the time of your cancellation. If you should cancel your account with an outstanding balance, your account may be turned over to a third-party collection service, within Afiaanyi’s discretion.
              </p>
              <p class="terms__content">
              NO REFUND POLICY. <br> COMPANY does not provide refunds. There are NO exceptions. Thank you, for further enquiries, Contact +234 905 300 0056-9

              </p>
          </div>
      </div>



  </section>
{% endblock %}
