{% extends "layouts.app_general" %}
{% set title='Trust & Safety' %}
{% block style%}
@import url({{ asset('themes/' ~ current_theme() ~ '/css/terms_of_use_res.css') }});
@import url({{ asset('themes/' ~ current_theme() ~ '/css/privacy-policy_res.css') }});
{% endblock %}
{% block hero %}
<div class="hero">
          <div class="hero__text-box">
              <h2 class="hero__content-title">Trust & Safety</h2>
          </div>
      </div>
{% endblock %}
{% block content %}
<section>

        <div class="terms__outer-wrapper">
            <div class="terms__wrapper">

                <p class="terms__content">
                  Why trust us ?<br/>
                  Our validation structure and standard & assured(S&A) team takes distinct measures to guarantee
                  both the users and executive are real and accredited before we link them with one other.
                </p>
                <p class="terms__content">
                  Overview   Service Provider   Service Seeker<br/>
                  Everyday, thousands of people come on Afiaanyi to look for executive services to assist with issues
                  at their homes or offices. At the same time, hundreds of executives from all over Nigeria register
                  themselves to get connected with those service seekers. That is why we see the need to make an
                  extra special effort to make Afiaanyi a safe place for both, service seekers and the service
                  executives.
                </p>
                <p class="terms__content">
                  SERVICE PROVIDER VERIFICATION <br/>
                  1. Identity verification  <br/>
                  2. Contact verification  <br/>
                  3. Authentic verification  <br/>
                  4. Business verification  <br/>
                  5. blacklisting of dubious service providers 
                </p>
                <p class="terms__content">
                  SERVICE SEEKER VERIFICATION<br/>
                  1. Identity verification<br/>
                  2. Phone verification<br/>
                  3. Email verification   <br/>
                  4. Authentic verification    <br/>
                  5. blacklisting of dubious service

                </p>
                <p class="terms__content">
                  Service Provider<br/>
                  Afiaanyi has built a trusted platform where service providers can associate with
                  genuine service seekers (ones who need services) and convert them into valuable customers.

                </p>
                <p class="terms__content">
                  How you get linked with the right valuable customers To be a responsible and effective service provider on Afiaanyi, you should understand that hiring a professional is simply an exchange of money and service between two people, so just apply some protocols and you will be good. Certainly, most of the duties falls on the professional to ensure the task requested by service seekers are done ultra-carefully in a professional manner. There are some common sense rules that you can follow so that you land with the right customer and right job! 
                </p>
                <p class="terms__content">
                  Here’s what we recommend you do (but not resticted to)  <br/>
                  Draft a clear profile: Your profile should let potential customers know about the exact services
                  you offer. Adding pictures and work hours can help make sure customers enjoy their experience
                  with you and the exact service, pls call our customer care, do not request for any related service 
                </p>
                <p class="terms__content">
                   Aquire the highest level “trust” related content: Tell me what you do, how you do and how good
                   you are at doing what you do. A quick 2 to 3 minutes video, 15 to 20 clear photographs, your
                   CAC (if you have), Bank details, government issued identity and reviews from past customers go
                   long way to impress your potential customer.
                </p>
                <p class="terms__content">
                  Read customer details before accepting the task: If you want to know more about a customer’s need before accepting their enquiry, check out their enquiry details and connect to the one most suitable to you. 
                </p>
                <p class="terms__content">
                  Set clear quotations: At least 2 businesses are expected to provide quotes to customers; so ensure to be clear on the exact pricing for the different service sectors you offer or ask right questions to the user so that you can quote appropriately. Remember to engage your customers and keep them interested – right method and frequency of follow-ups go long way to convert a lead into a customer. 
                </p>
                <p class="terms__content">
                  Check out our Marketplace: Need customers on demand? Visit our pool of opportunities that allows you to browse through a listing of endless customers and pick any one that fits the description of the services you can offer. 
                </p>
                <p class="terms__content">
                 Rate a lead: Assess the quality of customer enquiries you receive by leaving ratings on enquiries. Your feedback is useful to help us provide you better quality customers and also improve your experience. If you rate a lead as not genuine, our Quality & Trust team investigates; if verified, we will refund the amount we charged you for that lead.
                </p>
                <p class="terms__content">
                  Service Seeker<br/>
                  Afiaany has built a trusted platform where users (service seekers) can connect with the most reliable service providers and get things done.
                </p>
                <p class="terms__content">
                 How you get linked with the right service provIder and get your task done To be a responsible user, both the parties should understand that hiring a professional is simply an exchange of money and service between two people. Even if much of the responsibility falls on the professional to ensure your job is done carefully as per your request, there are some common sense rules to respect on the user’s side too 
                </p>
                <p class="terms__content">
                 While requesting for a service at Afiaanyi <br/>
                 1. If you cannot find the exact service, pls call our customer care, do not request for any related service<br/>
                 2. If you are not sure when you need the service, please do not request for it. <br/>
                 3. Fill up your requirement, try to be as precise as possible. Any missing information, you can type in the last question.<br/>
                 4. Provide your actual name, email and phone number, your contacts are safe with us. Verify your details<br/>
  
                </p>
                <p class="terms__content">
                  After getting connected with a service provider<br/>
                  1. Respond promptly or acknowledge when the professionals is interested in providing you the service. <br/>
                  2. Do not try to negotiate the originally agreed upon price and other terms and conditions if any. <br/>
                  3. Provide all the details to the professional before starting the service, this will avoid any dispute in the future <br/>
                  4. Try to be punctual as per the agreed upon time with the professional.<br/>
                  5. Do not make outrageous demands, extra works or odd hour service if the professional is not comfortable<br/>
                  6. Take photos of the items involved or with the pro for record purpose in case of any dispute in the future. <br/>
                  7. Ask the professional in advance about POS payment. Else, keep enough to pay in cash. Always seek invoice.
                </p>
            </div>
        </div>
    </section>
    {%  endblock %}
