{% extends "layouts.app" %}

{% block search_bar %}
{% endblock %}

{% block content %}

<div class="bg-light">
<div class="container-fluid" style="max-width: 970px">
    <div class="col-12s">

        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9 pl-sm-5 ">
                <div class="row">
                    <div class="col-9">

                    </div>
                    <div class="col-3 pt-4">

                        </div>
                    </div>
                </div>
              <!--
                <div class="col-sm-3 d-none d-sm-block">
                    <div id="sidebar" class="p-0 mt-0">


                  </div>
               </div>
              -->
            <div class="col-sm-12 col-12 pl-sm-5 border-0" style="">
              <h3>Make Payment</h3>
              <a href="" class="btn btn-primary btn-lg">Make Payment</a>    
            </div>
        </div>
    </div>
    </div>
    {% endblock %}
